@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

pre {
    overflow-x: auto;
}

span + em { 
      text-align: center;
      display: block;
}

img[src*=".gif"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.gif-text{
    text-align: center;
    display: block;
}